/* isi design tokens */
:root { /* @boilerplate */
  --isi-text-color: var(--brand-white);
  --isi-line-height: inherit;
  --isi-list-line-height: inherit;
  --isi-list-item-margin-bottom: 3px;
  --isi-inline-padding-bottom: 64px; /* @boilerplate */
  --isi-heading-color: var(--brand-white);
  --isi-heading-font-size: 14px;
  --isi-heading-font-weight: 700; /* @boilerplate */
  --isi-heading-line-height: 1.2;
  --isi-heading-margin-bottom: 0; /* @boilerplate */
  --isi-bar-z-index: 5; /* @boilerplate */
  --isi-bar-expanded-z-index: 10; /* @boilerplate */
  --isi-bar-background: var(--brand-primary);
  --isi-section-border-width: 0;
  --isi-section-border-color: transparent;
  --isi-bar-border-width: var(--isi-section-border-width); /* @boilerplate */
  --isi-bar-border-color: var(--isi-section-border-color); /* @boilerplate */
  --isi-bar-height: 185px;
  --isi-bar-padding: 13px 13px 8px; /* @boilerplate */
  --isi-bar-height-transition-duration: 0.3s; /* @boilerplate */
  --isi-bar-height-transition-easing: ease-in-out; /* @boilerplate */
  --isi-bar-expanded-max-height: 70vh; /* @boilerplate */
  --isi-content-max-width: var(--max-width-site); /* @boilerplate */
  --isi-bar-content-gap: 0 24px; /* @boilerplate */
  --isi-bar-col-flex-basis: 45%; /* @boilerplate */
  --isi-bar-heading-padding-bottom: 10px; /* @boilerplate */
  --isi-bar-paragraph-line-height: 24px; /* @boilerplate */
  --isi-bar-paragraph-padding-bottom: 0;
  --isi-bar-list-padding-left: 40px;
  --isi-bar-list-margin-bottom: 0;
  --isi-bar-link-font-weight: 600; /* @boilerplate */
  --isi-toggle-right: 24px;
  --isi-toggle-top: 24px;
  --isi-toggle-border-width: 2px; /* @boilerplate */
  --isi-toggle-size: 24px; /* @boilerplate */
  --isi-toggle-color: var(--brand-teal-muted); /* @boilerplate */
  --isi-toggle-hover-color: var(--brand-white);
  --isi-toggle-transition-duration: 0.2s; /* @boilerplate */
  --isi-toggle-z-index: 2; /* @boilerplate */
  --isi-toggle-icon-size: 14px;
  --isi-toggle-icon-bar-thickness: 3px;
  --isi-toggle-icon-bar-radius: 0; /* @boilerplate */
  --isi-bar-content-padding-x-mobile: 0; /* @boilerplate */
  --isi-bar-content-padding-x-desktop: 32px; /* @boilerplate */
  --isi-toggle-right-mobile: 16px; /* @boilerplate */
  --isi-toggle-right-desktop: 32px; /* @boilerplate */
  --button-primary-hover-background: transparent;
}

.isi blockquote,
.isi-bar blockquote {
  border: 1px solid;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 10px;
}

.isi-bar blockquote {
  padding-top: 10px;
  margin-top: 16px;
}

.isi-bar blockquote p,
.isi-bar blockquote li {
  font-size: var(--body-font-size-xs);
  margin-bottom: 0;
}

.isi div > ul,
.isi li > ul,
.isi-bar li > ul {
  padding-left: 15px;
  list-style-type: disc;
  }

.isi li > p,
.isi li > ul {
  margin-top: unset;
  margin-bottom: unset;
}

.isi-bar h4 {
  font-size: var(--heading-font-size-xs);
  margin-bottom: 0;
}

.isi h4,
.isi-bar h4,
.isi h3,
.isi-bar h3 {
  font-family: avenir-heavy,'Arial Black',sans-serif;
}

.isi-bar-col h3:first-of-type,
.isi-inline h3:first-of-type {
  vertical-align: middle;
  padding: 15px 10px;
  line-height: inherit;
  text-align: center;
}

.isi-bar .isi-bar-col > h3:first-of-type {
  background-color: var(--brand-secondary);

}

.isi-inline h3:first-of-type {
  background-color: var(--brand-primary);
}

.isi-inline {
  margin-top: 80px;
  scroll-margin-top: 16px;
}

main .isi .isi-inline p,
main .isi .isi-inline li,
main .isi .isi-inline h4,
main .isi .isi-inline h5 {
  color: var(--text-color)
}

main .isi p:has(sub) {
  line-height: 1;
}

main .isi sub {
  vertical-align: middle;
}

main .isi .isi-inline blockquote p.center,
blockquote p.center  {
  font-family: avenir-heavy,arial,sans-serif;
  margin-bottom:20px;
  font-size: 14px;
  margin-top: 0;
}

@media (width >= 768px) {
  :root {
    --isi-bar-height: 200px;
    }

  div.isi-bar {
    left: 10px;
  }

  .isi-bar h4 {
    font-size: var(--heading-font-size-l);
  }

main .isi .isi-inline p,
main .isi .isi-inline li {
  font-size: var(--body-font-size-m);
}

.isi-bar blockquote p,
.isi-bar blockquote li {
  font-family: avenir-heavy,arial,sans-serif;
}
}

@media (width >= 992px) { /* @boilerplate */
  :root { /* @boilerplate */
    --isi-toggle-right: var(--isi-toggle-right-desktop); /* @boilerplate */
    --isi-bar-content-padding-x-desktop: 0;
  }
}
